.layout-section {
  padding-bottom: 200px;
  scroll-margin-top: 20px;
}

@media (max-width: 37.5rem) {
  .layout-section {
    padding-bottom: 100px;
  }
  .layout-grid-half {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.layout-section-title {
  margin-bottom: 36px;
}
@media (max-width: 37.5rem) {
}
.layout-grid-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}
.portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.portfolio-screenshot {
  border-radius: 150px;
  width: clamp(250px, 20vw, 300px);
  height: clamp(250px, 20vw, 300px);
}
.portfolio:nth-child(odd) .portfolio-screenshot {
  order: 1;
}
@media (max-width: 37.5rem) {
  .portfolio {
    flex-direction: column;
  }
  .portfolio:nth-child(odd) .portfolio-screenshot {
    order: initial;
  }
}
