.sucflex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.success {
  border: 1px solid var(--primary);
  width: 50vw;

  height: auto;
  padding: 40px;
  outline: 1px solid transparent;
  position: relative;
}

.success::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  border: 1px solid var(--primary);
  inset: -3px;
}
@media (max-width: 37.5rem) {
  .sucflex {
    flex-direction: column;
    height: 100vh;
    margin-top: 70%;
    transform: translateY(-50%);

    border: 1px solid red;
  }

  .success {
    width: 90vw;
    height: auto;
    padding: 50px;
  }
}
